body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/113/071/original/26_april_8.jpg?1706699307);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-size: 120%;
}
header {
  font-size: 40px;
  display: block;
  font-weight: 600;
  margin: 0px auto;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #407088;
  border-top: 2px solid#407088;
  border-bottom: 2px solid#407088;
  padding: 10px 0px;
  width: 50%;
  border-radius: 10px;
}
h1 {
  font-size: 40px;
  color: #132743;
  margin-bottom: 0px;
  margin-top: 10px;
}
p {
  margin: 5px;
  margin-bottom: 30px;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: justify;
  padding-top: 15px;
  font-size: 13px;
  color: #132743;
}
a {
  text-decoration: none;
  color: rgb(116, 63, 120);
  font-weight: bold;
}
.app-body {
  max-width: 600px;
  margin: 30px auto;
  background: rgba(255, 203, 203, 0.8);
  padding: 20px;
  border-radius: 10px;
}
.search-bar {
  display: block;
  margin: 10px auto;
  text-align: center;
}
.search-input {
  padding: 13px;
  width: 80%;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  color: darkslategray;
  background-color: white;
  line-height: 20px;
}
.search-button {
  margin-left: 5px;
  font-size: 18px;
  padding: 13px;
  line-height: 20px;
  border-radius: 5px;
  border: none;
  background: #132743;
  color: white;
}
.current-weather-data {
  display: flex;
  justify-content: space-around;
}
.current-temp {
  font-size: 60px;
  font-weight: bold;
  margin: 0px;
  color: #132743;
}
.temp-icon {
  width: 80px;
}
.temp-measure {
  font-size: 30px;
  font-weight: bold;
  margin: 15px;
  margin-left: 0px;
}
.weather-description {
  font-weight: bold;
  color: rgb(215, 51, 100);
}
.humididty-value {
  font-weight: bold;
  color: rgb(215, 51, 100);
}
.wind-value {
  font-weight: bold;
  color: rgb(215, 51, 100);
}
.weather-forecast {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
}
.forecast-date {
  background-color: #f6eaee;
  padding: 20px;
  border-radius: 15px;
}
.forecast-day {
  font-size: 20px;
}
.forecast-temps {
  font-size: 17px;
  font-weight: bold;
}
.forecast-high {
  color: rgb(64, 112, 136);
}
.forecast-low {
  color: rgba(64, 112, 136, 0.6);
}
